  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">AuroraOrnaments Jewelry</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="#">Best Sellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Earnings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Necklaces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bracelets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sales</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true">Menu</a>-->
<!--            <ul class="dropdown-menu">-->
<!--                <li><a class="dropdown-item" href="#">Best Sellers</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Earnings</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Rings</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Necklaces</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Bracelets</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Sales</a></li>-->
<!--            </ul>-->
<!--          </li>-->

        </ul>
           <a class="navbar-brand" href="/cart">
                      <i class="fas fa-shopping-cart" style="font-size:32px;"></i>
                      <span class="top-0 start-100 translate-middlep badge rounded-pill text-bg-light">{{ session['cart']|length if session['cart'] else 0 }}</span>
            </a>
                  <form class="d-flex" role="search">

                    <input class="search-bar form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light me-2" type="submit">Search</button>
                          <a href="/login" class="btn btn-light">Login
                      </a>
                  </form>
      </div>
    </div>
  </nav>

<!--  <button type="button" class="btn btn-primary position-relative">-->
<!--  Inbox-->
<!--  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">-->
<!--    99+-->
<!--    <span class="visually-hidden">unread messages</span>-->
<!--  </span>-->
<!--</button>-->
<!--              <a class="flex-sm-fill text-sm-center nav-link text-black" href="#">Earnings</a>-->
<!--              <a class="flex-sm-fill text-sm-center nav-link text-black" href="#">Rings</a>-->
<!--              <a class="flex-sm-fill text-sm-center nav-link text-black"  href="#">Necklaces</a>-->
<!--              <a class="flex-sm-fill text-sm-center nav-link text-black" href="#">Bracelets</a>-->
<!--                <a class="flex-sm-fill text-sm-center nav-link text-black" href="#">Sales</a>-->